:root {
    --base03: #0f0f0f;
    --base02: #5c5c5c;
    --base01: #000000;
    --base00: #1f2353;
    --base04: #313131;
    --base0: #656896;
    --base1: #8283c2;
    --base2: #87a3c2;
    --base3: #7274e2;
    --yellow: #92bed5;
    --orange: #d2e9f1;
    --red: #8f8481;
    --magenta: #d84f30;
    --violet: #87aa64;
    --blue: #ffe69b;
    --cyan: #4b698a;
    --green: #e09a9a;
}

/* elements */
body {
    background-color: var(--base03);
    font-family: "Lucidia Console", monospace;
    color: var(--base0);
    font-size: 14px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input {
    background-color: transparent;
    caret-color: var(--base0);
    outline: none;
    border: none;
    color: var(--base0);
    font-family: "Lucidia Console", monospace;
    font-size: 12px;
    padding-bottom: 3px;
}

.terminal-screen {
    display: inline-block;
    vertical-align: top;
    background-color: var(--base01);
    border: 2px solid var(--base04);
    margin: 5px;
    padding-top: 2px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: left;
}

#search {
    display: inline;
}

#search-bar {
    background-color: var(--base01);
    font-family: "Lucidia Console", monospace;
}

.links-container {
    justify-content: left;
}

.varsity {
    order: 2;
}

.tech {
    order: 3;
}

.programming {
    order: 4;
}

.media {
    order: 5;
}

.gaming {
    order: 6;
}

/* hyperlinks */

a:link,
a:visited {
    color: var(--base0);
    text-decoration: none;
}

a:hover {
    color: var(--base1);
    text-decoration: none;
}

a:active {
    color: var(--blue);
    text-decoration: none;
}

/* "syntax highlighting" */

.output {
    display: flex;
}

.unix-user {
    color: var(--base2);
}

.unix-syntax1 {
    color: var(--base02);
}

.PC-name {
    color: var(--base2);
}

.unix-syntax2 {
    color: var(--base02);
}

.cmd {
    color: white;
}

.seperator {
    color: var(--base04);
    padding: 0;
    margin: 0;
}

/* blinking cursor */

.cursor {
    animation: blinker 1s step-start infinite;
    color: var(--base0);
    order: 4;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.button{
    background-color: transparent;
    border: 0;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    margin: 4px 4px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
}

.button:hover {
    background-color: var(--base00);
    color: var(--base03);
}
